
.form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding-left: 180px;
}

.form-container>h1 {
    font-size: 2rem;
    font-weight: 800;
}

.form-container>form {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 600px;
    margin: auto
}

.form-group {
    display: flex;
    padding: 8px;
    align-items: baseline;
}

.form-group>input {
    flex-grow: 1;
    margin-left: 8px;
    padding: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group>label {
    width: 75px;
}

.form-container button {
    width: 100px;
    margin-left: auto;
    margin-right: 8px;
    padding: 8px;
    border-radius: 5px;
    color: #5c5b5b;
    background-color: rgb(255, 255, 255);
    transition: all 0.8s;
    border: 1px solid rgba(97, 97, 97, 0.678);
}

.form-container button:hover{
    border: 0;
    color: #fff;
    background-color: #6d9c7b;
}
.description-line>h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 8px;
    letter-spacing: 5px;
    color: #6d9c7b;
   
}

.description-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px;
}

.line{
    width: 100%;
    max-width: 50%;
    background-color: #fff;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px  #6d9c7b;
    display: flex;
}

